// Cores
$color-primary-blue: #205691;
$color-secondary-blue: #1a4575;
$color-accent-orange: #FF5722; // Exemplo de laranja para impacto/esperança
$color-white: #ffffff;
$color-gray-light: #f5f5f5;
$color-text-dark: #333333;

// Fontes
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Source Sans 3', sans-serif;

// Espaçamentos
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
